In [5]:
 #string functions
a="sachin tendulkar"
print(a)

sachin tendulkar

In [6]:
print(a.split("a"))#will cut the word where and all "a" occurs
print(a.split("a",1))#will cut where "a" occurs first

['s', 'chin tendulk', 'r']
['s', 'chin tendulkar']

In [7]:
print(a.count("a"))

2

In [8]:
print(a.replace("a","$"))
print(a.replace("a","$",1))

s$chin tendulk$r
s$chin tendulkar

In [10]:
a=" test "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

test
test
 test

In [11]:
a="test"
print(type(a))

<class 'str'>

In [12]:
print(isinstance(a,str))

True

In [14]:
a=input("enter your name:")
print(a)

enter your name:dhanush
dhanush

In [15]:
a="123"
print(isinstance(a,str))
print(type(a))

True
<class 'str'>

In [17]:
a=123
print(isinstance(a,int))

True

In [18]:
#type casting
a="123"
b=int(a)
print(type(b))

<class 'int'>

In [19]:
a="test"
b=int(a)
print(type(b))print

SyntaxError: invalid syntax (3302046271.py, line 3)

In [20]:
c=125.0
print(type(c))

<class 'float'>

In [22]:
#list
a=["dhanush","20","location"]
print(a)

['dhanush', '20', 'location']

In [23]:
print(min(a))
print(max(a))
print(sorted(a))

20
location
['20', 'dhanush', 'location']

In [24]:
print(len(a))
print(type(a))

3
<class 'list'>

In [25]:
print(isinstance(a,list))

True

In [27]:
print(a[::-1])

['location', '20', 'dhanush']

In [32]:
a=["dhanush",20,"chennai"]
print(sorted(a))

TypeError: '<' not supported between instances of 'int' and 'str'

In [30]:
#list does not support rindex,rfind,find and replace
#list only supports index

In [35]:
a=["dhanush","20","chennai"]
print(a.index("dhanush"))

0

In [36]:
a.append("test")#adds new string at the end of the list
print(a)

['dhanush', '20', 'chennai', 'test']

In [38]:
a.insert(2,"demo")#inserts the string in the specified index
print(a)

['dhanush', '20', 'demo', 'demo', 'chennai', 'test']

In [39]:
a.remove("test")
print(a)

['dhanush', '20', 'demo', 'demo', 'chennai']

In [40]:
del a[2]#deletes the string based on the specified index
print(a)

['dhanush', '20', 'demo', 'chennai']

In [41]:
#pop removes last string from the list and prints it seperately in new line
b=a.pop()
print(a)
print(b)

['dhanush', '20', 'demo']
chennai

In [42]:
#shallow copy(same memory)
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [43]:
#deep copy(different memory)
a=[1,2,3]
b=a.copy()
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [44]:
a=[1,2,3]
b=[4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [45]:
#extend converts two seperate list into a single list
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [46]:
a=("hi","hello","welcome")
print(type(a))

<class 'tuple'>

In [47]:
print(isinstance(a,list))
print(isinstance(a,tuple))

False
True

In [48]:
print(min(a))
print(max(a))
print(sorted(a))
print(len(a))

hello
welcome
['hello', 'hi', 'welcome']
3

In [49]:
#reverse a tuple
print(a[::-1])

('welcome', 'hello', 'hi')

In [50]:
print(a.index("hello"))

1

In [51]:
#assignment

In [52]:
##get number as input from the user and check datatype
input()

1,2,3,4

'1,2,3,4'

In [53]:
print(type(input))

<class 'method'>

In [56]:
print(min("input"))
print(max("input"))
print(sorted("input"))

i
u
['i', 'n', 'p', 't', 'u']

In [57]:
a="test@gmail.com"
print(a)

test@gmail.com

In [59]:
print(a[::2])

ts@mi.o

In [62]:
print(a)

test@gmail.com

In [68]:
print(a.split("test@.com"))

['test@gmail.com']

In [67]:
print(a.split("test.com"))

['test@gmail.com']

In [85]:
a=["hi""hello""welcome"]
print(a)

['hihellowelcome']

In [93]:
print(a[:-3])

[]

In [94]:
print(a[::2])

['hihellowelcome']

IndexError: list index out of range

In [99]:
#difference between list and tuple
#list can be changed (mutable)but tuple cannot be changed (un mutable)
#tuple is fasterbecause it cannot be changed 
#append and insert will not work in tuple

In [4]:
a=["dhanush","mohan"]
b=["dhanush","deva"]
print(a)
print(b)

['dhanush', 'mohan']
['dhanush', 'deva']

In [11]:
a={1,2,3,3,2,2,1,1,1}
print(a)

{1, 2, 3}