In [1]:
print("welcome to todays class")

welcome to todays class

In [2]:
a="welcome to todays class"
print(a)

welcome to todays class

In [3]:
#variable name should not start with the number
1a="test"

SyntaxError: invalid decimal literal (2953375050.py, line 2)

In [4]:
a312="test"
print(a312)

test

In [5]:
#variable name should not have any special character
a$="test"
print(a$)

SyntaxError: invalid syntax (606331431.py, line 2)

In [6]:
#variable name can have underscore
a_1="test"
print(a_1)

test

In [7]:
#string 
#anything that comes under underscore
a="sachin tendulkar"

In [9]:
print(len(a))#toget length of the variable a

16

In [10]:
print(min(a))
print(max(a))
print(sorted(a))

u
[' ', 'a', 'a', 'c', 'd', 'e', 'h', 'i', 'k', 'l', 'n', 'n', 'r', 's', 't', 'u']

In [11]:
#string functions
a="sachin tendulkar"
print(a.isalpha())
print(a.isalnum())
print(a.isdigit())
print(a.islower())
print(a.isupper())

False
False
False
True
False

In [12]:
#string functions 
print(a.upper())
print(a.lower())
print(a.swapcase())

SACHIN TENDULKAR
sachin tendulkar
SACHIN TENDULKAR

In [13]:
#indexing
#  0  1  2  3  4  5
#  p  y  t  h  o  n
# -6 -5 -4 -3 -2 -1
# start:end:interval

In [14]:
a="sachintendulkar"

In [15]:
print(a[7])

e

In [16]:
print(a[3:10])

hintend

In [17]:
print(a[:])# if no start and end is specified then it will print the entire string
print(a[::])

sachintendulkar
sachintendulkar

In [18]:
print(a[-1])

r

In [19]:
#reverse a string
print(a[::-1])

rakludnetnihcas

In [20]:
print(a[::2])#specifying interval

scitnukr

In [21]:
print(a[-2])

a

In [22]:
print(a)

sachintendulkar

In [23]:
print(a.index("i"))

4

In [24]:
print(a.index("a"))#returns the first occuring value of "a"

1

In [25]:
print(a.index("a",2))#finds if a is repeated in the string

13

In [26]:
print(a.index("a",2,14))#finds the value of a in between 2-14

13

In [27]:
print(a.find("z"))

-1

In [28]:
print(a.find("a"))

1

In [32]:
print(a.rindex("a"))#reverse indexing checks if the value is in the string or not if the value is not found returns as-1
print(a.rfind("a"))

13
13

In [33]:
print(a.rindex("z"))

ValueError: substring not found

In [35]:
print(a.rfind("z"))#returns -1 if the given value is not found

-1